<div class="container">

<h1>All <%= player.length %> of my favourite NBA Players!</h1>

<% player.forEach(function(player) { %> 
    <div class="well">
        <h2>
            <a href="/players/<%= player.firstName %>">
            <%= player.firstName %> 
            </a>
            <form method="POST" action="/players/<%= player.firstName% %> ?_method=DELETE">
                <input hidden type="text" name="name" value=" <%=player.firstName %> ">
                <button class="remove" type="submit">remove</button>
            </form>
        </h2>
    </div>
<% }); %>
</div>