<div>
    <% playerData.forEach(element => { %>
        <p>First Name: <%= element.firstName%> </p>
        <p>Last Name: <%= element.lastName%> </p>
        <!-- <p>Team Id: <%= element.teamId%> </p>
        <p>Player Id: <%= element.playerId%> </p>
        <p>Date of Birth: <%= element.dateOfBirth%> </p>
        <p>Years Pro: <%= element.yearsPro%> </p>
        <p>start NBA: <%= element.startNba%> </p>
        <p>Height <%= element.heightInMeters%> </p>
        <p>Weight <%= element.weightInkilograms%> </p>
        <p>Leauges: <%= element.leagues%> </p> -->
    <% }) %>
      
    </div>

 