<div>
    <% playerData.forEach(element => { %>
        <p>Name: <%= element.firstName%> <%= element.lastName%> </p>
        <p>Age: <%= element.dateOfBirth%> </p>
        <p>Height <%= element.heightInMeters%> </p>
        <p>Weight <%= element.weightInKilograms%> </p>

        <form method="POST" action="/players/nbaplayersapi">
            <input hidden type="text" name="dateOfBirth" value=" <% element.dateOfBirth %>">
            <input hidden type="text" name="heightInMeters" value=" <% element.heightInMeters %>">
            <input hidden type="text" name="weightInKilograms" value=" <% element.weightInKilograms %>">
            
            <button class="add" type="submit">add to favorites</button>
        </form>  
    <% }) %>    

</div>

 