<div>
    <% playerData.forEach(element => { %>
        <p>Name: <%= element.firstName%> <%= element.lastName%> </p>
        <p>Height <%= element.heightInMeters%> </p>
        <p>Weight <%= element.weightInKilograms%> </p>

        <form method="POST" action="/players/nbaplayersapi">
            <input  type="hidden" name="firstname" value=" <%=element.firstName %>">
            <input  type="hidden" name="lastname" value="<%= element.lastName %> ">
            <input  type="hidden" name="height" value=" <%= element.heightInMeters %>">
            <input  type="hidden" name="weight" value=" <%= element.weightInKilograms %>">
        <button class="add" type="submit">add to favorites</button>
        </form>  
    <% }) %>    

</div>

 