<div class="well">
   
    <h3>All <%= faves.length %> of my favourite NBA Players!</h3>
    
    <% faves.forEach(faves => { %>  
        <p>Name: <%= faves.firstname%> <%= faves.lastname%> </p>
        <p>Height <%= faves.height%> </p>
        <p>Weight <%= faves.weight%> </p>
        <div class="delete"> 
            <h4>
                <form method="POST" action="/players/favorites/?_method=DELETE">
                    <input type="hidden" name="playerId" value=" <%=faves.id %>">
                <button class="remove" type="submit">remove</button>
            </form>
        </h4>
</div>
        <% }); %>
</div>


<div class="comments">
    <h4>Notes:</h4>
        <% comment.forEach(element => { %>
            <li><%= element.note %> </li>
        <% }) %>
        </p> 
 <form method="POST" action="/players/favorites/comment">
     <input type="text" name="note">
     <button>add note for favorite players list</button>
 </form>       
</div>