<div class="container">
   
    <p>First Name: <%= firstName%> </p>
    <p>Last Name: <%= lastName%> </p>
    <p>Age: <%= age%> </p>
    <p>Height: <%= height%> </p>
    <p>Weight: <%= weight%> </p>
    <form method="POST" action="/players/<% player.firstName% %> ?_method=DELETE">
        <input hidden type="text" name="name" value=" <% player.firstName %>">
        <button class="remove" type="submit">remove</button>
    </form>    
</div>